
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Full calendar
@import '~fullcalendar/dist/fullcalendar.css';

// Bootstrap Datepicker
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fc-title {
  color: white;
}
